<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="MasterPage">

<head>
<meta charset="utf-8">
<title>form Patient</title>


</head>
<body>
<div layout:fragment="pageContent">
		<div class="container mt-4">

			<div class="card col-md-7">
			<div class="card-header">Enregistrement bien éffectué</div>
			<div class="card-body">
			<div class="form-group">
			
			<label>ID :</label><strong> <label th:text="${projection.id}" ></label></strong>
			
							<label>prix :</label><strong> <label th:text="${projection.prix}" ></label></strong>
							<label>sale name :</label><strong> <label th:text="${projection.salle.name}" ></label></strong>
							<label>film :</label><strong> <label th:text="${projection.film.titre}" ></label></strong>
							<label>seance :</label><strong> <label th:text="${projection.seance.id}" ></label></strong>
							

						</div>
							
					

					
							
						</div>
					
						</div>		</div>
						
					
			</div>
				</div>
	</div>
	</div>
</body>
</html>