<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="MasterPage">

<head>
<meta charset="utf-8">
<title>form Patient</title>


</head>
<body>
<div layout:fragment="pageContent">
		<div class="container mt-4">

			<div class="card col-md-7">
			<div class="card-header">Enregistrement bien éffectué</div>
			<div class="card-body">
			<div class="form-group">
			
			<label>ID :</label><strong> <label th:text="${film.id}" ></label></strong>


						</div>
							<label>Nom :</label><strong> <label th:text="${film.titre}" ></label></strong>
							
							<label>DESC:</label><strong> <label th:text="${film.decription}" ></label></strong>
							
							<label>Realisateur :</label><strong> <label th:text="${film.realisateur}" ></label></strong>
							
							<label>Duree :</label><strong> <label th:text="${film.duree}" ></label></strong>
							
							
							
							</strong>

						</div>
					
						
						
					
			</div>
				</div>
	</div>
	</div>
</body>
</html>