<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="MasterPage">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css/">
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
			<div class="card col-md-6">
			<div class="card-header" th:if="${mode=='new'}">Formulaire de saisie pour les projection</div>
				<div class="card-header" th:if="${mode=='edit'}">Formulaire de modification</div>
						<div class="body">
				

<form th:action="@{/saveCinema}" th:object="${cinema}" method="post">


					<div class="form-group">
						<label class="control-label">Id cinema</label> <input
							class="form-control" type="text" name="id" readOnly
							th:value="${cinema.id}" th:field="*{id}" /> <span></span>
					</div>
					<div class="form-group">
						<label class="control-label">Nom cinema</label> <input
							class="form-control" type="text" name="name"
							th:value="${cinema.name}" th:field="*{name}" /> <span th:errors=${cinema.name}></span>
					</div>


					<div class="form-group">
						<label class="control-label">nombre Salles</label> <input
							class="form-control" type="text" name="nombreSalles"
							th:value="${cinema.nombreSalles}" th:field="*{nombreSalles}" />
						<span></span>
					</div>
			
			
			<div class="form-group">
				<label class="control-label">ville</label>
			<select th:field="*{ville.id}" class="form-control" >
     		  		<option th:each="ville: ${villes}" 
     		  		th:value="${ville.id}"
      				  th:text="${ville.name}"></option>
  		  </select>
			
			
		
			</div>
			
			
			
			

					<button class="btn btn-primary" type="submit">save</button>
				</form>
			</div>

		</div>
	</div>
	</div>
</body>
</html>