<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="MasterPage">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css/">
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
			<div class="card col-md-6">
				<div class="card-header" th:if="${mode=='new'}">Formulaire de
					saisie pour les projection</div>
				<div class="card-header" th:if="${mode=='edit'}">Formulaire de
					modification</div>
				<div class="body">



					<form th:action="@{/saveProj}" method="post">
						<div class="form-group">
							<label class="control-label">ID</label> <label
								class="control-label" th:text="${projection.id}"></label> <input
								type="hidden" name="id" class="form-control"
								th:value="${projection.id}">
						</div>

						<div class="form-group">
							<label class="control-label">prix</label> <input type="text"
								name="prix" class="form-control" th:value="${projection.prix}" />
							<span th:errors=${projection.prix}></span>
						</div>


						<div class="form-group">
							<label class="control-label">salle</label> <select
								th:field="*{projection.salle}" class="form-control">
								<option th:each="salle: ${salles}" th:value="${salle.id}"
									th:text="${salle.name}"></option>
							</select>



						</div>
						<div class="form-group">
							<label class="control-label">filme</label> <select
								th:field="*{projection.film}" class="form-control">
								<option th:each="film: ${filmes}" th:value="${film.id}"
									th:text="${film.titre}"></option>
							</select>
								</div>
								
						
								
									<div class="form-group">
						<label class="control-label">tickets</label> <input
							type="text" name="ticket" class="form-control"
							th:value="${projection.tickets}" /> <span></span>
					</div>
								
								
									<div class="form-group">
							<label class="control-label">sceance</label> <select
								th:field="*{projection.seance}" class="form-control">
								<option th:each="seance: ${seances}" th:value="${seance.id}"
									th:text="${seance.id}"></option>
							</select>
								</div>

							<button class="btn btn-primary" type="submit">save</button>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>
</html>