<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="MasterPage">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css/">
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
			<div class="card col-md-6">
			<div class="card-header" th:if="${mode=='new'}">Formulaire de saisie</div>
				<div class="card-header" th:if="${mode=='edit'}">Formulaire de modification</div>
						<div class="body">
				


				<form th:action="@{/saveVille}" method="post">
					<div class="form-group">
						<label class="control-label">ID</label> <label
							class="control-label" th:text="${ville.id}"></label> <input
							type="hidden" name="id" class="form-control"
							th:value="${ville.id}">
					</div>

					<div class="form-group">
						<label class="control-label">name</label> <input type="text"
							name="name" class="form-control" th:value="${ville.name}" /> <span
							th:errors=${ville.name}></span>
					</div>

				

					<button class="btn btn-primary" type="submit">save</button>
				</form>
			</div>

		</div>
	</div>
	</div>
</body>
</html>