<html  xmlns:th="http://www.thymeleaf.org"

 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
 
 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head>
<meta charset="utf-8">
<title>gestion des cinemas </title>
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css/">
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">S M A R T cinema</a>

  <!-- Links -->
  <ul class="navbar-nav">
   

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Operations cinema
      </a>
      <div class="dropdown-menu">
     <a sec:authorize="hasRole('ROLE_ADMIN')"  class="dropdown-item" th:href="@{formCinema}">ajouter cinema</a>
     <a class="dropdown-item" th:href="@{listcinema}">Rechercher</a>
       
   
      </div>
    </li>
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Operations Ville
      </a>
      <div class="dropdown-menu">
     <a sec:authorize="hasRole('ROLE_ADMIN')"  class="dropdown-item" th:href="@{formVille}">ajouter ville</a>
     <a class="dropdown-item" th:href="@{listville}">Rechercher</a>
       
   
      </div>
    </li>
    
         <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Operations projection
      </a>
      <div class="dropdown-menu">
     <a sec:authorize="hasRole('ROLE_ADMIN')"  class="dropdown-item" th:href="@{formProjection}">ajouter proje</a>
     <a  class="dropdown-item" th:href="@{listProjection}">Rechercher</a>
       
   
      </div>
    </li>
    
         <li class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Operations Film
      </a>
      <div class="dropdown-menu">
     <a sec:authorize="hasRole('ROLE_ADMIN')"  class="dropdown-item" th:href="@{formFilm}">ajouter Film</a>
     <a class="dropdown-item" th:href="@{listFilm}">Rechercher</a>
       
   
      </div>
    </li>
    
  </ul>
  
   <ul class="navbar-nav ml-auto">
 

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      <span sec:authorize="isAuthenticated()">
     <span sec:authentication="name"></span> </span>
     <span sec:authorize="!isAuthenticated()">
     <span>coonect</span></span>
    
     
      </a>
     
      <div class="dropdown-menu">
      
        <a sec:authorize="!isAuthenticated()"  class="dropdown-item" th:href="@{login}">login</a>
        <a class="dropdown-item" th:href="@{logout}">logout</a>
          <a class="dropdown-item" href="#">profil</a>
     	
      </div>
    </li>
  </ul>
</nav>
<section layout:fragment="pageContent"></section>
</body>
</html>