<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="MasterPage">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css/">
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div layout:fragment="pageContent">
<div class="m-5">
<div class="cart">
<div class="cart-headr"><h4> F I L M </h4></div>
<div class="cart-body">
<form method="get" th:action="@{listFilm}">
<div class="form-group">
</div>


<table class="table table-bordered">

<tr>
<th>id film </th><th>titre </th> <th>decription</th> <th>realisateur</th><th> dateSortie</th><th> duree</th><th> Categorie</th>
</tr>
<tr th:each="p:${films}">
<td th:text="${p.id}"></td>
<td th:text="${p.titre}"></td>
<td th:text="${p.decription}"></td>
<td th:text="${p.realisateur}"></td>
<td th:text="${p.dateSortie}"></td>
<td th:text="${p.duree}"></td>
<td th:text="${p.categorie.name}"></td>
<td><img th:src="@{getPhoto(id=${p.id})}" width="100" height="100"/></td>




<td sec:authorize="hasRole('ROLE_ADMIN')">
<a  onclick="return confirm('voulez vous vraiment supprimer cette cinema')" class="btn btn-danger" 
 th:href="@{deleteFilm(id=${p.id})}" >delete FiLM</a></td>
 <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" th:href="@{editFilm(id=${p.id})}">Modifier FILM</a></td>
 
</table>

<ul class="nav"> 
<li th:each="page,status:${pages}"> 
<a th:class="${pagecurrent==status.index?' btn btn-warning' :'btn'}"
th:text="${status.count}" 
th:href="@{listFilm(page=${status.index},size=${size})}"></a></ul></form></div></div></div>
</div>
</body>
</html>