<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="MasterPage">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css/">
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div layout:fragment="pageContent">
<div class="m-5">
<div class="cart">
<div class="cart-headr"><h4>  P R O J E C T I O N </h4></div>
<div class="cart-body">
<form method="get" th:action="@{listProjection}">
<div class="form-group">
</div>


<table class="table table-bordered">

<tr>
<th>id projection </th><th>Prix </th> <th>salle</th> <th>titre de filme</th><th> seance id</th>
</tr>
<tr th:each="p:${projections}">
<td th:text="${p.id}"></td>
<td th:text="${p.prix}"></td>
<td th:text="${p.salle.name}"></td>
<td th:text="${p.film.titre}"></td>
<td th:text="${p.seance.id}"></td>





<td sec:authorize="hasRole('ROLE_ADMIN')">
<a  onclick="return confirm('voulez vous vraiment supprimer cette cinema')" class="btn btn-danger" 
 th:href="@{deleteProj(id=${p.id})}" >delete proj</a></td>
 <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" th:href="@{editProj(id=${p.id})}">Modifier cinema</a></td>
 
</table>

<ul class="nav"> 
<li th:each="page,status:${pages}"> 
<a th:class="${pagecurrent==status.index?' btn btn-warning' :'btn'}"
th:text="${status.count}" 
th:href="@{listProjection(page=${status.index},size=${size})}"></a></ul></form></div></div></div>
</div>
</body>
</html>