<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="MasterPage">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css/">
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div layout:fragment="pageContent">

<div class="m-5">
<div class="cart">
<div class="cart-headr"><h4>  V I L L E S</h4></div>
<div class="cart-body">
<form method="get" th:action="@{listville}">
<div class="form-group">
</div>
<label> name </label>
<input type="text" name="keywoard" th:value="${keywoard}"> 
<button class="btn btn-primary"> chercher </button>

<table class="table">
<tr>
<th>id</th><th>name</th> 
</tr>
<tr th:each="p:${villes}">
<td th:text="${p.id}"></td>
<td th:text="${p.name}"></td>



<td sec:authorize="hasRole('ROLE_ADMIN')">
<a  onclick="return confirm('voulez vous vraiment supprimer cette ville')" class="btn btn-danger" 
 th:href="@{deleteville(id=${p.id})}" >delete ville</a></td>
 <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" th:href="@{editville(id=${p.id})}">Modifier ville</a></td>
 
</table><ul class="nav"> 
<li th:each="page,status:${pages}"> 
<a th:class="${pagecurrent==status.index?' btn btn-warning' :'btn'}"
th:text="${status.index}" 
th:href="@{listville(page=${status.index},keywoard=${keywoard},size=${size})}"></a></ul></form></div></div></div>
</div>
</body>
</html>